/ {
    sim_baro0: sim_baro_0 {
        compatible = "zephyr,sim-baro";
        status = "okay";
    };

    sim_baro1: sim_baro_1 {
        compatible = "zephyr,sim-baro";
        status = "okay";
    };

    accel0: accel_0 {
        compatible = "zephyr,sim-baro";
        status = "okay";
    };

    gyro0: gryo_0 {
        compatible = "zephyr,sim-baro";
        status = "okay";
    };

    aliases {
        baro0 = &sim_baro0;
        baro1 = &sim_baro1;
        accel0 = &accel0;
        gyro0 = &gyro0;
    };
};