/dts-v1/;
#include "ubcrocket_fc_2526_r1-common.dtsi"

/ {
	model = "UBC Rocket Flight Controller 2025-26 Rev 1.0";
	compatible = "ubcrocket,ubcrocket_fc_2526_r1";

	#address-cells = <1>;
	#size-cells = <1>;

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram1;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

    leds {
		compatible = "gpio-leds";

		green_led: green-led {
			gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};

        red_led: red-led {
			gpios = <&gpioa 9 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};

    

	aliases {
        led0 = &green_led;
        led1 = &red_led;
        accel0 = &accel0;
        gyro0 = &gyro0;
        baro0 = &baro0;
        baro1 = &baro1;
        pyro0 = &pyro0;
    };
};

// Enable and configure SPI2
&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_mosi_pa7 &spi1_miso_pa6>;
    pinctrl-names = "default";

    // Chip select pin for Pyro board on PE14 (i think)
    cs-gpios = <&gpioe 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    pyro0: pyro0@0 {
        status = "okay";
        compatible = "vnd,spi-device"; //  TODO: Could write a custom binding instead of using this test one with raw spi commands
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};

// Enable and configure SPI2
&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb10 &spi2_mosi_pc1 &spi2_miso_pc2>;
    pinctrl-names = "default";

    // Chip select pins: Accel on PD15, Gyro on PC7, Baro on PD8
    cs-gpios = <&gpiod 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, <&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, <&gpiod 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    // BMI088 Accelerometer
    accel0: bmi088-accel@0 {
        status = "okay";
        compatible = "bosch,bmi08x-accel";
        reg = <0>;
        spi-max-frequency = <10000000>;

        // Required properties:  https://docs.zephyrproject.org/latest/build/dts/api/bindings/sensor/bosch%2Cbmi08x-accel-spi.html
        accel-hz = "400";
        accel-fs = <24>;
        
        // Interrupt pins
        // int-gpios = <&gpiod 12 GPIO_ACTIVE_HIGH>;
        // int2-gpios = <&gpiod 14 GPIO_ACTIVE_HIGH>;
    };

    // BMI088 Gyroscope
    gyro0: bmi088-gyro@1 {
        status = "okay";
        compatible = "bosch,bmi08x-gyro";
        reg = <1>;
        spi-max-frequency = <10000000>;
        
        // Required properties: https://docs.zephyrproject.org/latest/build/dts/api/bindings/sensor/bosch%2Cbmi08x-gyro-spi.html
        gyro-hz = "1000_116";
        gyro-fs = <2000>;

        // Interrupt pins
        // int-gpios = <&gpiod 11 GPIO_ACTIVE_HIGH>;
        // int4-gpios = <&gpiod 10 GPIO_ACTIVE_HIGH>;
    };

    //MS5611 Barometer (same driver as ms5607)
    baro0: ms5611@2 {
        status = "okay";
        compatible = "meas,ms5611";
        reg = <2>;
        spi-max-frequency = <10000000>;
    };
};

// Enable and configure SPI4
&spi4 {
    status = "okay";
    pinctrl-0 = <&spi4_sck_pe12 &spi4_mosi_pe6 &spi4_miso_pe5>;
    pinctrl-names = "default";
    cs-gpios = <&gpiod 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, <&gpioe 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    
    baro1: ms5607@1 {
        status = "okay";
        compatible = "meas,ms5607";
        reg = <1>;
        spi-max-frequency = <10000000>;
    };
};

// Enable and configure SDMMC1
&sdmmc1 {
    status = "okay";
    disk-name = "SDMMC";
    bus-width = <4>;
    pinctrl-0 = <&sdmmc1_ck_pc12 &sdmmc1_cmd_pb2 &sdmmc1_d0_pb13 &sdmmc1_d1_pc9 &sdmmc1_d2_pc10 &sdmmc1_d3_pc11>;
    pinctrl-names = "default";
    clk-div = <2>;  // Set clock divider to reduce frequency
};